<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DemoL</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    ...
</div>
</body>
</html>